$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  /*---------------------------------INDEX-------------------------------*/
  .bar{
    height:6em;
    .margen{
      padding-left: 12em;
      padding-right: 12em;
      .logo{
        width: 30%;
        float: left;
        padding-top: 0.5em;
      }
      .menu{
        display: block;
        float: right;
        width: 70%;      
        padding-top: 0.5em;
        
      }
    }
}
  .rombo{
    padding-top: 2em;
    .columna{
        width: 20%;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
    }
  }

.ganancias{
    padding-left: 20%;
    padding-right: 20%;
    .uno{
        font-size: 1.8em;

    }
    .dos{
        font-size: 1.4em;
    }
    .nar{
        color: #ea4703;
    }
}
  .cupon{
    .col{
        width: 40%;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
    }
    .col2{
        padding-top: 6em;
        width: 40%;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
    }
  }
  .info{
    .cont{
      .col1{
        width: 50%;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
      }
      .col2{
        text-align: right;
        width: 30%;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
  /*---------------------------------FIN INDEX------------------------------*/


    /* --------------------------- CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */

  .contenido{
    padding-top: 2em;
    .tit{
      text-align: left;
    }
    .col{
      text-align: left;
      vertical-align: top;
      width: 65%;
      display: inline-block;
      .sub{
        color: #fc5935;
      }
      .esquema{
        clear: both;
        position: relative;
        overflow: hidden;
        .esq1{
          vertical-align: top;
          width: 45%;
        display: inline-block;
        }
      }
    }
    .columna{
        text-align: left;
        vertical-align: top;
        width: 30%;
        display: inline-block;
    }
    .columna2{
      vertical-align: top;
        width: 30%;
        display: inline-block;
    }
    .componentes{    
      vertical-align: top;
      width: 23%;
      display: inline-block;
    }
  }
  /* --------------------------- FIN CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
}

/* Large devices (large desktops, 1200px and up) */